<h2>Latest Packets for <%= @callsign %></h2>

<%= pagination_links @packets, view_style: :semantic %>
<div class="ui list">
  <%= for packet <- @packets.entries do %>
    <div class="item">
      <%= format_ts(packet.inserted_at)  %>:
      <span class="mono"><%= packet.origpacket %></span>
    </div>
  <% end %>
</div>

<%= pagination_links @packets, view_style: :semantic %>
